
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
#pList {
 
    display: flex;
    flex-direction: column;
    
}

.product-card {
    list-style-type: none;
    background-color: #FDD90B ;
    border-radius: 3px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.product-infos{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;

}
.product-infos > h2 {
    color: #DA001E;
    text-align: center;
    margin-bottom: 0px;
}

.product-infos > p {
    color: #151217;
    text-align: center;
    margin: 50;
    margin-top: 0px;
}

.img-card {
    box-sizing: border-box;
    width: 50%; 
    flex: 1 1 auto;
}
.img-card img{
    width: 200px;
    object-fit: contain;
}
#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}